$appFont : 'Montserrat',
sans-serif;
$breakpoint-tablet: 768px;

.cartSummaryView {
    width: 100%;
    margin-top: 50px;

    @media (max-width: $breakpoint-tablet)
    {
        margin-top: 20px;
    }
}

.justifyBetweenView {
    display: flex;
    justify-content: space-between;
}

.mediumTopPadding {
    padding-top: 30px;
}

.couponView{
    margin-top: 20px;
}

.columnView{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.margingTopMedium{
    margin-top: 20px;
}


